Estilizar a cor de fundo do seu site como o css
body{
background-color: white ;
}

Estilizar o título principal do seu site
 h1{
color:  black ;
font-family:1000;
background:white;
}

Estilizar os parágrafos
p{
color:blue ;
font-family:200;
font-size:300 ;
background:red ;
}
#aa{
width: 100%;
}