Estilizar a cor de fundo do seu site como o css
body{
background-color: white ;
}

Estilizar o título principal do seu site
 h1{
color:  black ;
font: family 40px;;
background:white;
}

Estilizar os parágrafos
p{
color:blue ;
font: family 40px;;
font: size 40px; ;
background:red ;
}
#aa{
width: 100%;
}